/* #region 主要配色 */
// # 黑色
@fantasy0: oklch(0.2 0.012 280);
@fantasy1: oklch(0.24 0.015 280);
@fantasy2: oklch(0.29 0.018 280);
@fantasy3: oklch(0.35 0.015 280);

// # 白色
@fantasy4: oklch(0.92 0.01 285);
@fantasy5: oklch(0.85 0.012 285);
@fantasy6: oklch(0.72 0.015 285);
@fantasy7: oklch(0.65 0.018 285);

// # 强调
@fantasy8: oklch(0.82 0.14 245);
@fantasy9: oklch(0.75 0.15 245);
@fantasy10: oklch(0.65 0.14 245);
@fantasy11: oklch(0.55 0.1 245);
/* #endregion */

/* # ---------------------------------------------------------------- # */

/* #region 次要配色 */
@fantasy12: oklch(0.75 0.15 25); // 红
@fantasy13: oklch(0.77 0.14 55); // 橙
@fantasy14: oklch(0.8 0.12 95); // 黄
@fantasy15: oklch(0.78 0.13 145); // 绿
@fantasy16: oklch(0.78 0.12 200); // 青
@fantasy17: oklch(0.73 0.14 295); // 紫
/* #endregion */
